/* .default-newinput {
    border: 2px solid rgb(255, 0, 0);
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
} */

.newinput {
    /* border: 2px solid blue; */
    font-size: 20px;
    border-radius: 6px;
    outline: transparent;
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.newinput ::placeholder {
    font-size: 16px;
    text-align: center;
}

.default-label {
    font-size: 24px;
    margin: 10px 0;
}

.label {
    margin: 10px 0;
    font-size: 18px;
}

input {
    padding: 8px 15px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    outline: transparent;
}

input:focus {
    border: 1px solid rgb(0, 255, 225);
}

.newinput-radio {
    flex-direction: row-reverse;
}

.newinput-checkbox {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
}

.newinput-checkbox label {
    display: inline-block;
}

.newinput-checkbox input {
    position: relative;
    vertical-align: middle;
    top: 2px;
}

.newinput-radio label {
    margin-left: 8px;
}


.newinput-color {
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 80px;
}

.newinput-color input {
    width: 70px;
    height: 40px;
    padding: 5px;
}

.newinput-color label {
    margin-left: 10px;
}