.navbar__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 30px;
    background-color: #222;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    height: 80px;
    border-radius: 13px;
    margin: 20px 5%;
    /* position: fixed;
    /* width: 90%; */
    /* top: 20px;
    left: 50%;
    transform: translate(-50%);  */
    /* margin: 0 5%; */
}

.logo {
    /* border: 2px solid red; */
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.no-text-decoration {
    text-decoration: none;
}

.fa-react {
    margin-left: 0.2rem;
    font-size: 1.6rem;
    display: flex;
}

.navbar__menu {
    display: flex;

}

.navbar__items li {
    display: flex;
    list-style: none;
    margin-left: 10px;
    align-items: center;
    text-decoration: none;
}

.navbar__items {
    text-decoration: none;
}

.nav-links {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 0.7rem 1rem;
}

.nav-links:hover {
    background-color: rgb(80, 80, 238);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.nav-links i {
    display: flex;
    padding-right: 10px;
}

.menu__icons {
    color: white;
    display: none;
}

@media screen and (max-width: 850px) {
    .navbar__items {
        /* border: 2px solid red; */
        z-index: 99;
        position: relative;

    }

    .navbar__menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: rgb(255, 255, 255, .25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border-radius: 13px;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -110%;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        z-index: -1;
        transition: all 0.3s ease-in-out;
    }

    .navbar__menu.active {
        left: 0%;
    }

    .navbar__items li {
        margin: 0 auto;
        width: 100%;
        display: flex;
        /* transition: all 0.3s ease-in-out; */
    }

    .nav-links {
        /* border: 2px solid red; */
        display: flex;
        padding: 2rem 0;
        color: #222;
        margin: 10px 0;
        width: 100%;
        justify-content: center;
    }

    .menu__icons {
        display: block;
    }

}